root { 
    display: block;
}

body{
    padding: 0;
    margin:0;
    font-family: arial;
    color:#222;
    background: #e5e5e5;
}

table.pageTable{
    width:100%;
}

div.headerBar{
    height: 2em;
    width:100%;
    padding:0;
    margin:0;
    background: #222;
}

img.profile{
    width:6em;
    height:6em;
    border: 2px solid #222;
    border-radius: 1000px;
}

table.bodyTable{
    background: #f2f2f2;
    border: 2px solid #d1d1d1;
    width:70%;
    padding:2%;
}

span.header{
    font-size:1.5em;
}

span.largeText{
    font-size:2.5em;
}

span.regularText{
    font-size:1em;
}

span.smallText{
    font-size:0.75em;
    color:white;
}

td.underline{
    width:100%;
    height:1em;
    border-bottom: 2px solid #222;
}

img.icon{
    width:1.5em;
    height:1.5em;
}