root { 
    display: block;
}

body, html{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-weight: 100;
    color:#eee;
    text-decoration: none;

    background: #0f1830;
    background:    -moz-linear-gradient(-45deg,  #0f1830 0%, #262747 33%, #262747 66%, #262747 100%);
    background:        -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0f1830), color-stop(33%,#262747), color-stop(66%,#262747), color-stop(100%,#262747));
    background: -webkit-linear-gradient(-45deg,  #0f1830 0%,#262747 33%,#262747 66%,#262747 100%);
    background:      -o-linear-gradient(-45deg,  #0f1830 0%,#262747 33%,#262747 66%,#262747 100%);
    background:     -ms-linear-gradient(-45deg,  #0f1830 0%,#262747 33%,#262747 66%,#262747 100%);
    background: linear-gradient(135deg,  #0f1830 0%,#262747 33%,#262747 66%,#262747 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f1830', endColorstr='#262747',GradientType=1 );

}

#canvas{
    position: absolute;
}

a{
    color: #7E94CC;
    position: relative;
}

a:hover{
    text-decoration: none;
    color: #7E94CC;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #5e6e98;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

div.verticalOuter{
    display: table;
    height: 100%;
}

div.verticalInner{
    height:100%;
    display: table-cell;
    vertical-align: middle;
}

p{
    font-size: 16px;
    font-weight: 100;
}