root { 
    display: block;
}

body, html{
    font-family: 'Lato', sans-serif;
    font-weight: 100;
    color:#fff;
    background:#4c8f5f;
    width: 100%;
    height: 100%;
}

img.icon{
    width:14px;
    height:14px;
}

a{
    color: #000;
    text-decoration: none;
}

a:hover{
    color: #000;
}

div.verticalOuter{
    display: table;
    height: 100%;
}

div.verticalInner{
    height:100%;
    display: table-cell;
    vertical-align: middle;
}